.row {
    display: flex;
    flex-flow: column;
    width: 100%;
    color: $black;
    @media (min-width: $tab-width) {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    .col-12 {
        width: 100%;
        flex-basis: 100%;
    }
    .col-6 {
        flex-basis: 100%;
        @media (min-width: $tab-width) {
            flex-basis: 50%;
        }
    }
    img {
        margin: 0 auto;
    }
    p{
        margin: 20px auto;
        max-width: 60ch;
    }
}

.happy{
    border: 2px solid;
    padding: 20px;
    ~ .col-6{
        border: 2px solid;
        padding: 20px;
    }
}