$black : #000;
$white : #fff;
$asparagus: rgba(140, 179, 105, 1);
$buff: rgba(244, 226, 133, 1);
$sandy: rgba(244, 162, 89, 1);
$dream: rgba(91, 142, 125, 1);
$shimmer: rgba(188, 75, 81, 1);

$trans : 0.2s cubic-bezier(0.37,0.62,0.47,0.72);

$mob-width: 425px;
$tab-width: 769px;
$lap-width: 1200px;