@import '~/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size:62.5%;
}

h1, h2, h3, p, button {
  margin: 0;
}

p{
  font-size: 1rem;
}

html main {
  background-color: #ffffff;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a{
  font-size: 1rem;
  text-decoration: none;
  color: $dream;
  transition: color $trans;
  &:hover{
    color: $white;
  }
}

.page{
  .oh{
    position: relative;
    background: #f1f1f1;
    width: 100%;
    margin-left: auto;
    transition: width $trans;
    max-height: 100vh;
    overflow: auto;
  }
  &.open{
    .oh{      
      width: calc(100% - 240px);
    }
  }
}

main{
  width: 100%;
  margin: 0 auto;
  transition: all $trans;
  box-sizing: border-box;
  &.mob{
    width: $mob-width;
  }
  &.tab{
    width: $tab-width;
  }
  &.lap{
    width: $lap-width;
  }
  iframe{
    width: 100%;
    height: 100%;
    border: 0;
  }
}

/* CSS Simple Pre Code */
pre {
  background: #333;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
  color: #fff;
  font-size: 1rem;
}

pre.code {
  border-radius: 4px;
  border: 1px solid #292929;
  position: relative;
}

pre.code label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ddd;
  position: absolute;
  left: 1px;
  top: 15px;
  text-align: center;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

pre.code code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  margin: 0 0 0 60px;
  padding: 15px 16px 14px;
  border-left: 1px solid #555;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
  color: #ddd;
  text-align: left;
  min-width: 500px;
}

pre::after {
  content: "double click to selection";
  padding: 0;
  width: auto;
  height: auto;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 12px;
  color: #ddd;
  line-height: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease;
}

pre:hover::after {
  opacity: 0;
  visibility: visible;
}

pre.code-css code {
  color: #91a7ff;
}

pre.code-html code {
  color: #aed581;
}

pre.code-javascript code {
  color: #ffa726;
}


div.chakra-container{
  max-width: 100%;
}